.SideBar {
    display: flex;
    width: 270px;
    padding: 30px;
    padding-top: 20px;

    flex-direction: column;
    height: 100vh;
    background-color: rgb(255, 255, 255);
    box-shadow: -8px 0px 80px 0px rgba(0, 0, 0, 0.05);

    .UserLabel {
        position: relative;
        width: 100%;
        display: flex;
        flex-direction: row;
        align-items: flex-end;
        justify-content: flex-end;
    }
    .MuiDateCalendar-root {
        width: 100%;

    }
    .UpcomingExam {
        width: 100%;
        font-family: Nunito;
        

        div.ExamNotfi {
            width: 100%;
            height: 50px;
            border-radius: 10px;
            background: #EDF0F5;
           margin-top: 20px;
            display: flex;
                flex-direction: row;
                padding: 10px 0px 10px 10px;
                &.Text {
                    background-color: unset;
                    flex-direction: column;
                    p {
                        font-size: 10px;
                    }
                }
            img {
                width: 45px;
                border-radius: 10px;
            }
        }
    }
}

@media only screen and (max-width:1024px){
    .SideBar {
        display: none;
    }
}