section.Course {
    display: flex;
    width: 66%;
    flex-direction: column;
    align-items: center;
    font-family: Nunito;
    height: 100vh;
    flex: 1;
    overflow-y: auto;
    position: relative;
    .SearchBar {
        width: 90%;
        border-bottom: 2px solid #DFE5F1;
        padding: 25px;
        align-self: flex-start;
  
        color: #C8D0DF;
        input {
            border: none;
            outline:none;
            margin-left: 20px;
        }
      
    }
    
    .CourseHead {
        align-items: center;
        display: flex;
        width: 90%;
        flex-direction: row;
        justify-content: space-between;
        padding: 40px 0px;
        gap: 15px;
        img {
            width: 110px;
            height: 70px;
            border-radius: 100px;
        }
        h1 {
            align-self: center;
            margin-right: auto;
            justify-self: start;
        }
        button {
            border-radius: 20px;
            border: 0px;
            padding: 15px 30px;
            color: white;
            align-items: center;
            background-color: #1080FB;
            font-family: inherit;
        }
    }
    .FilterOptions {
        width: 90%;
        height: 20px;
        border-radius: 20px;
        padding: 5px;
        background-color: #EFEFF3;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
        font-family: Nunito;
        div {
            z-index: 1;
        }
        #gr {
            display: block;
            position: absolute;
            width: 100px;
            height: 10px;
            background-color: white;
            transform: translateX(0vw);
            z-index: 0;
            padding: 5px;
            border-radius: 20px;
        }
    }
    .Ishod {
        width: 90%;
        margin-top: 20px;
        transition: 1s;
        #files  {
            display: none;
            width: 100%;
            height: 100px;
            flex: 1;
           margin-top: 30px;
            ul li {
                list-style: none;
                display: flex;
                flex-direction: row;
                width: 100%;
                margin-top: 10px;
                align-items: center;
                gap: 15px;
               
                    img {
                        width: 50px;
                    }
                    svg {
                        width: 30px;
                        height: 30px;
                    }
                
            }
            &.opened {
              display: block;
            } 
          }
          
        div.lesson {
            display: flex;
            margin-top: 15px;
            flex-direction: column;
            border: 2px solid #DFE5F1;
            padding: 10px;
            padding-right: 30px;
            border-radius: 20px;
          
            transition: 1s;

            .Info {
                display: flex;
                width: 100%;
                flex-direction: row;
                align-items: center;
                   gap: 15px;
                transition: 1s;

            }
            &#opened {
                align-items: flex-start;
                height: 300px;
                transition: 1s;

            }
            
            .Text {
                
                display: block;
                border: none;
                
            }
            span {
                border-radius: 20px;
                padding: 15px 40px;
                
                background-color: #211E61;

            }
            svg {
                margin-left: auto;
                justify-self: end;
            }
        }
    }
}