const Config = {
    apiUrl: "http://127.0.0.1:8000/api",
    storageUrl: "http://127.0.0.1:8000/storage/uploads/",
    homePageUrl: "http://localhost:3001/",
    basename: "/lms/"
}
export default Config;
